* {
  font-family: "BMHANNA_11yrs";
  box-sizing: border-box;
}

body {
  cursor: pointer;
  margin: 0;
}

.container {
  background-image: url("images/01d.png");
  background-position: center;
  background-size: cover; /* 배경 크기만큼 이미지가 꽉 채워진다. */
  position: fixed; /* 이미지의 위치를 고정시킨다*/
  width: 100%; /* 넓이를 100%로 늘린다.*/
  height: 100%; /* 높이를 100%로 늘린다.*/
}

.app-title {
  text-shadow: 1px 2px 4px grey;
  text-align: center;
  padding: 0px;
  font-size: 60px;
  color: white;
  margin-bottom: 0px;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.temperature p {
  color: white;
  font-size: 55px;
  text-align: right;
  margin-right: 15px;
}

.weather-description p {
  color: white;
  font-size: 40px;
  text-align: right;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.weather-say p {
  color: white;
  font-size: 40px;
  text-align: right;
  margin-right: 30px;
  margin-top: 0px;
}

.city-search {
  margin-left: 25vmin;
  color: white;
  font-size: 30px;
}

.city-search p {
  margin-bottom: 0px;
}

button {
  transition: all 0.3s linear;
  font-weight: bold;
  font-size: 13px;
}

button:hover {
  color: pink;
  font-size: 15px;
  font-weight: bold;
}

/* forecast */
.forecastTempContainer {
  width: 100px;
  height: 100px;
  justify-content: space-between;
}

.forecastList {
  display: flex;
  flex-direction: row;
  margin-left: 13vmin;
  list-style: none;
}

li {
  margin-left: 20px;
}

.day {
  color: white;
  padding-top: 20px;
  text-align: center;
}

.img {
  display: block;
  margin: auto;
  width: 50px;
}

.forecastTemperature {
  color: white;
  text-align: center;
}
